@theme {
  /* [Light Mode] Base Color */
  --color-primary: #fb923c;
  --color-primary-foreground: #ffffff;
  --color-secondary: #ffe4c4;
  --color-background: #ffffff;
  --color-foreground: #020817;
  /* [Dark Mode] Base Color */
  @variant dark (&:where(.dark, .dark *)) {
    --color-primary: #fdba74;
    --color-primary-foreground: #020817;
    --color-secondary: #7c2d12;
    --color-background: #0f172a;
    --color-foreground: #f8fafc;
  }
}
